{% if user.is_authenticated %}

{% include 'navbar.html' %}

{% block content %}
<!-- offcanvas -->
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="h4 fw-bold text-primary mb-3">
                <h2>Employee Activity</h2>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 d-flex">
                <select class="form-select w-auto" id="employee">
                    <option selected value="">Select an employee</option>
                    {% for item in user_list %}
                    <option value="{{ item.first_name }}">{{ item.first_name }}</option>
                    {% endfor %}
                </select>
                <a href="{% url 'addView' %}" class="btn btn-primary ms-3">Add time for an employee</a>
            </div>
            <div class="mb-3 mt-3">
                <div class="h3 fw-bold text-primary mb-3">Detail</div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Department</th>
                        <th scope="col">Date</th>
                        <th scope="col">In</th>
                        <th scope="col">Out</th>
                        <th scope="col">Deduction</th>
                        <th scope="col">Hour</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr>
                        <td>KFC</td>
                        <td>5</td>
                        <td>22</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap5.min.js"></script>
<script>
        $(document).ready(function (){
           queryTableList("")
            $("#employee").change(function () {
               queryTableList($(this).val())
            })

        })
        const queryTableList = (first_name) => {
             $.ajax({
                type: 'GET',
                url: '/admin/queryList',
                data: {first_name},
                dataType: 'json',
                success: (res)=>{
                    const data = res.data;
                    let str = ""
                    data.forEach(item => {
                        str += `
                            <tr>
                            <td>${item.department}</td>
                            <td>${item.work_time}</td>
                            <td>${item.in_time}</td>
                            <td>${item.out_time}</td>
                            <td>${item.deduction ?? ''}</td>
                            <td>${item.hours}</td>
                            <td>${item.notes}</td>
                            <td>
                                <a href="/admin/clock/edit/${item.id}">
                                 <i class="bi bi-slash-square" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                        `
                    })
                    $("#tbody").html(str)
                }
            })
        }


</script>

<script>
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    }


</script>
{% endblock %}
{% else %}
{% include 'registration/out.html' %}
{% endif %}