{% if user.is_authenticated %}
<!--  If user is authenticated execute content below--> 

{% load static %}
{% include 'navbar.html' %}

{% block content %}

{% load crispy_forms_tags %}    

<main class="mt-5 pt-3">

  <body>
    <div class="container">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }}" role="alert" >
          {{ message }}
        </div>
      </div>
      {% endfor %}

      <form id="form" class="form" method="POST">
        {% csrf_token %}
        <h2>Register Employee</h2>
        <div class="form-control">
            <label>{{ reg.employee_number.label }}</label>
            <div>{{ reg.employee_number }}</div>
            <label>{{ reg.employee_name.label }}</label>
            <div >{{ reg.employee_name }}</div>
            <label>{{ reg.department.label }}</label>
            <div>{{ reg.department }}</div>
          <input type="hidden" name="action" value="submit">
          <input class="btn btn-primary" id="button" type="submit" value="Register" />

          </div>
      </form>
 
      <form id="form" class="form" method="POST">
        {% csrf_token %}
        <h2>Delete Employee</h2>
        <div class="form-control" >
          <label>Employee Number</label>
          <input type="number" class="form-control" name="employee_delete">
          <input type="hidden" name="action" value="delete">
          <input class="btn btn-primary" id="button" type="submit" value="Delete" />
        </div>
      </form>

  </body>
</html>
</main>


{% endblock %}

<!-- Else send to Log in page--> 
{% else %}
{% include 'registration/out.html' %}
{% endif %} 