{% if user.is_authenticated %}
    <!--  If user is authenticated execute content below-->

    {% load static %}

    {% include 'navbar.html' %}

    {% block content %}
        <!-- offcanvas -->
        <main class="mt-5 pt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="h4 fw-bold text-primary mb-3">
                        <h2>Employee Activity</h2>
                    </div>
                </div>


                <div class="row">
                    <div class="mb-3 d-flex">
                        <select class="form-select w-auto" id="employee">
                            <option selected value="">Select Employees here</option>
                            {% for us in emp_list %}
                                <option value="{{ us.employee_number }}">{{ us.employee_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 d-flex">
                        {#<button class="btn btn-primary me-1">Create Employee</button>#}
                        {% if user.is_superuser %}
                            <button class="btn btn-danger" disabled id="deleteBtn">Delete Employee</button>
                        {% endif %}
                    </div>
                    <div class="mb-3 mt-3">
                        <table id="employeeTable"
                               class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Employees Number</th>
                                <th>Employees Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in data %}
                                <tr>
                                    <td>{{ item.employee_number }}</td>
                                    <td>{{ item.employee_name }}</td>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.time }}</td>
                                    <td>{{ item.status }}</td>
                                    <td><a href="{% url 'editEmployees' item.id %}">Edit</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>

        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/dataTables.bootstrap5.min.js"></script>
        <!-- Latest compiled and minified CSS -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>

        <script>
            document.addEventListener("visibilitychange", function () {
                if (document.visibilityState == "visible") {
                    window.location.reload()
                }
                if (document.visibilityState == "hidden") {
                }
            })

            $("#employee").change(function (){
                window.location.href = `/frp/employees${$(this).val() ? '/' + $(this).val() : ''}`
            })

            $(function (){
                const ps = window.location.pathname.split('/');
                if(!isNaN(ps[ps.length-1])){
                    $("#employee").val(ps[ps.length-1])
                }else{
                    $("#employee").val('')
                }
            })
        </script>
    {% endblock %}

    <!-- Else send to Log in page-->
{% else %}
    {% include 'registration/out.html' %}
{% endif %}
