{% if user.is_authenticated %}
<!--  If user is authenticated execute content below--> 

{% load static %}

{% include 'navbar.html' %}

{% block content %}
<!-- offcanvas -->
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="h4 fw-bold text-primary mb-3">
                <h2>Export</h2>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 d-flex align-items-center">
                <button type="button" class="btn btn-primary me-5" id="julyDate7">export last two weeks</button>
                <button type="button" class="btn btn-primary me-5" id="julyDate30">export last Month</button>
                <span class="me-1">Select Date:</span>
                <input type="month" class="form-control w-auto" placeholder="please select date" id="customDateHandler">
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $("#julyDate7").click(function (){
            sendExportData(1,7)
        })
         $("#julyDate30").click(function (){
            sendExportData(1,30)
        })
        $("#customDateHandler").change(function (ev) {
            sendExportData(2,$(this).val())
        })
    })

    function sendExportData(type,day){
        $.ajax({
            type:'GET',
            url: '/admin/exportExcel',
            data: {
                type,
                day
            },
            success: (data)=>{
                if(data instanceof Blob || typeof data === "string") {
                    const blob = new Blob(["\ufeff",data],{type: 'text/csv'});
                    const a = document.createElement('a');
                    a.download = 'clock_table' + Date.now() + '.csv';
                    const url = window.URL.createObjectURL(blob);
                    a.href = url;
                    a.click()
                    window.URL.revokeObjectURL(url)
                }
            },
            async: true
        })
    }

</script>
{% endblock %}

<!-- Else send to Log in page--> 
{% else %}
{% include 'registration/out.html' %}
{% endif %} 