{% if user.is_authenticated %}
<!--  If user is authenticated execute content below--> 

{% load static %}

{% include 'navbar.html' %}

{% block content %}

{% load crispy_forms_tags %}    
    <main class="mt-5 pt-3">
        <div class="container-fluid">


            <div class="mb-3 mt-3">
                <div class="h3 fw-bold text-primary mb-3">Employee Activities</div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Employee Number</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in emp_activity %}
                    <tr>
                        <td>{{ item.number}}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.department }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="mb-3 mt-3">
                <div class="h3 fw-bold text-primary mb-3">Employee Log</div>
           
                <form action="{% url 'search' %}" method="post">     
                    {% csrf_token %}    
                    <div class="form-group">
                        <input name="searched" type="number" class="form-control" placeholder="Employee Number">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Employee Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in emp2 %}
                    <tr>
                        <td>{{ item.number }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.time}}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           
        </div>
    </main>
{% endblock %}

<!-- Else send to Log in page--> 
{% else %}
{% include 'registration/out.html' %}
{% endif %} 